{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-between">
            <div class="navbar-nav ml-auto">
              <a class="navbar-brand text-white" href="{% url 'homepage' %}">Task Manager</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link text-white" href="#">Add Task</a>
                <a class="nav-link text-white" href="#">Completed Tasks</a>
                <a class="nav-link text-white" href="#">Incompleted Tasks</a>
                <a class="nav-link text-white" href="#">Profile</a>
                <a class="nav-link text-white" href="#">Login</a>
            </div>
        </div>
    </div>
</nav>

{% block content %}

    <div class='text-center mt-5 pt-5' style='width: 100%;color: purple;'>
      <h1>
        Welcome to Task Manager By <span style='color: red;'>Muk74dir</span>
      </h1>
    </div>

  {% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>