{% extends "base.html" %}
{% block content %}
<h1>Delete Task</h1>
<p>Are you sure you want to delete the task "{{ task.title }}"?</p>
<form id="deleteForm" method="post" action="{% url 'delete_task' task.id %}">
    {% csrf_token %}
    <input class="btn btn-danger btn-sm" type="submit" value="Delete">
    <a class="btn btn-warning btn-sm" href="{% url 'show_tasks' %}">Cancel</a>
</form>

<script>
document.getElementById('deleteForm').addEventListener('submit', function (event) {
    event.preventDefault();

    if (confirm('Are you sure you want to delete the task?')) {
        this.submit();
    }
});
</script>
{% endblock %}
