{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;" class='mt-5 text-success bg-light'>
    <h1>Tasks List </h1>
<div>
  <div class="container my-3">
    <div class="row justify-content-around">
        <form class="d-flex col-md-6" method="post">
            {% csrf_token %}
            <input class="form-control" type="Search" placeholder="Search by Task Title" aria-label="Search" name="search">
            <button class="btn btn-dark mx-2" type="submit">Search</button>
        </form>
    </div>
</div>
<div>
    <form method="GET">
        {{ filter_form.as_p }}
        <input type="submit" value="Filter">
    </form>
</div>

    {% if tasks %}
    <div style="width:80%; margin:auto;" class="mt-5">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
              <tr style="text-align:center;">
                <th scope="col">Photo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Action</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody style="text-align:center;">
              {% for task in tasks %}
              <tr>
                <td scope="row"><img src="{{ task.tasks.first.image.url }}" alt="{{ task.title }}" style="width: 100px;" ></td>
                <td scope="row"> {{task.title}} </td>
                <td scope="row"> {{task.description}} </td>
                <td scope="row"> {{task.due_date}} </td>
                {% if task.is_completed  %}
                <td scope="row"> Completed </td>  
                {% else %}
                <td scope="row"> Incomplete </td>
                {% endif %}
                <td scope="row"> {{task.get_priority_display }} </td>
                <td scope="row"> {{task.created_at}} </td>
                <td scope="row"> {{task.updated_at}} </td>
                <td scope="row">
                  <a class="btn btn-warning btn-sm" href=" {% url 'edit_task' task.id %} "> Edit </a>
                  {% if task.is_completed  %}
                  <a class="btn btn-success btn-sm" href="{% url 'incomplete_task' task.id %}"> Incomplete </a>
                  {% else %}
                  <a class="btn btn-success btn-sm" href="{% url 'complete_task' task.id %}"> Complete </a>
                  {% endif %}
                  <a class="btn btn-danger btn-sm" href="{% url 'delete_task' task.id %}"> Delete </a>
                </td>
                <td scope="row">
                  <a class="btn btn-primary btn-sm" href="{% url 'details_view' task.id %}"> Details </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
    </div>
    {% else %}
<div style="width:80%; margin:auto;">
    <table class="table table-striped table-bordered table-hover mt-5">
        <thead class="thead-light">
            <tr style="text-align:center;">
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
    </table>
</div>
<div style="text-align: center;" class='mt-5 pt-5 text-danger bg-light'><h1>Nothing to Show</h1></div>


<script>
  document.getElementById('deleteForm').addEventListener('submit', function (event) {
      event.preventDefault();
  
      if (confirm('Are you sure you want to delete the task?')) {
          this.submit();
      }
  });
{% endif %}
{% endblock content %}


