{% extends 'base.html' %}
{% block content %}
<section class="section-content padding-y">
  <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
    <article class="card-body">
      <header class="mb-4"><h1 class="card-title text-center">Sign up</h1></header>
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col form-group mb-2">
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" name='username'>
            {% if form.username.errors %}{% for error in form.username.errors %} 
            <p class="text-danger">* {{ error }}</p> 
            {% endfor %}{% endif %}
        </div>
          

        <div class="form-group mt-2">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" name='email'>
            {% if form.email.errors %}{% for error in form.email.errors %}<p class="text-danger">* {{ error }}</p> 
        {% endfor %}{% endif %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 mt-2">
                <label for="password1"><b>Create password</b></label>
                <input class="form-control" type="password" name="password1" placeholder="Enter your password">
            </div>
            {% if form.password1.errors %}{% for error in form.password1.errors %} 
            <p class="text-danger">* {{ error }}</p> 
            {% endfor %}{% endif %}
            
            <div class="form-group col-md-6 mt-2">
                <label for="password2"><b>Confirm password</b></label>
                <input class="form-control" type="password" name="password2" placeholder="Repeat your password">
            </div>
            {% if form.password2.errors %}{% for error in form.password2.errors %} 
            <p class="text-danger">* {{ error }}</p> 
            {% endfor %}{% endif %}
        </div>

        <div class="form-group my-3 text-center">
          <button type="submit" class="btn btn-primary btn-block">Signup</button>
        </div>
        <!-- form-group// -->
      </form>
    </article>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <p class="text-center mt-4">Already have an account? <a decoration="None" href="{% url "loginpage" %}" >Log In</a></p>
  <br /><br />
  <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
{% endblock content %}